@{
    ViewData["Title"] = "Home Page";
}
Ejemplo1: @ViewBag.Nombre1 <br/>
Ejemplo2: @ViewData["Nombre2"] <br/>
Ejemplo3: @ViewData["Nombre1"] <br/>
Ejemplo4: @ViewBag.Nombre2 <br/>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
